.button {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.variantcontained-sizelarge {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 8px 22px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--components-button-large-size);
  color: var(--text-primary);
  font-family: var(--components-button-large);
}
