@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --components-button-large: Roboto;
  --font-baloo-bhai: "Baloo Bhai";

  /* font sizes */
  --components-button-large-size: 15px;
  --font-size-xs: 12px;
  --font-size-sm-5: 13.5px;
  --font-size-xs-2: 11.2px;
  --font-size-3xl-4: 22.4px;
  --font-size-base-5: 16.5px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --font-size-4xl-9: 23.9px;
  --font-size-9xl-4: 28.4px;
  --font-size-2xs-5: 10.5px;
  --font-size-mid-9: 17.9px;
  --font-size-3xs-7: 9.7px;
  --font-size-4xs: 9px;
  --font-size-26xl-6: 45.6px;
  --font-size-23xl: 42px;

  /* Colors */
  --color-gray-100: #8e8e94;
  --color-gray-200: rgba(0, 0, 0, 0.6);
  --color-gray-300: rgba(0, 0, 0, 0.23);
  --color-gray-400: rgba(255, 255, 255, 0.2);
  --text-primary: rgba(0, 0, 0, 0.87);
  --primary-contrast: #fff;
  --color-orange: #f99a0e;
  --color-whitesmoke: #eaeaea;
  --color-darkslategray-100: #424242;
  --color-darkslategray-200: #303030;
  --color-cornflowerblue-100: #1262af;
  --color-cornflowerblue-200: #1262ae;
  --color-gainsboro-100: #e0e0e0;
  --color-gainsboro-200: rgba(226, 226, 226, 0.1);
  --color-lavender: #ccdcec;
  --color-darkgray: #999;
  --color-lightgray: #cecece;
  --color-darkgoldenrod: #b56e04;
  --color-silver: #bdbdbd;
  --color-dimgray: #616161;

  /* Gaps */
  --gap-13xl-9: 32.9px;
  --gap-2xs-5: 10.5px;
  --gap-3xl-4: 22.4px;
  --gap-5xs-5: 7.5px;
  --gap-mini: 15px;
  --gap-mid-2: 17.2px;
  --gap-4xs-2: 8.2px;
  --gap-8xs-5: 4.5px;
  --gap-mid-9: 17.9px;
  --gap-10xs-2: 2.2px;
  --gap-7xl-9: 26.9px;
  --gap-7xs: 6px;
  --gap-base-7: 15.7px;
  --gap-13xl-1: 32.1px;
  --gap-9xs-7: 3.7px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-5xl-7: 24.7px;
  --padding-43xl-8: 62.8px;
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-11xl: 30px;
  --padding-mini: 15px;
  --padding-7xs: 6px;
  --padding-base-4: 16.4px;
  --padding-40xl-8: 59.8px;
  --padding-4xs: 9px;
  --padding-xs-2: 11.2px;
  --padding-3xs-7: 9.7px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-85xl-7: 104.7px;
  --padding-9xs-7: 3.7px;
  --padding-10xs: 3px;
  --padding-10xs-2: 2.2px;
  --padding-8xs-5: 4.5px;

  /* Border radiuses */
  --br-10xs: 3px;
  --br-4xl-2: 23.2px;
  --br-5xs-5: 7.5px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-28xl-8: 47.8px;
  --br-9xl-4: 28.4px;
}
